a, div, h1 {
    font-family: consolas;
    font-weight: 500;
    font-size: 18px;
}
.app-wrapper {
    display: grid;
    grid-template-areas: 
    "header header"
    "nav content";
    grid-template-rows: 84px 1fr;
    grid-template-columns: 2fr 10fr;
}